.backdrop {
  display: block;
  /* background-image: url('../../images/backdrop.png'); */
  background-size: cover;
  max-width: 1470px;
  /* padding: 0px 25px 0px 25px; */
  padding: 40px 20px 10px 20px;
  height: 100%;
}
